# 服务配置
server:
  port: 1000
  tomcat:
    uri-encoding: UTF-8
    max-swallow-size: -1 # 不限制请求体大小

spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true # 开启从注册中心动态获取服务，根据服务名进行负载均衡
          routes:
            - id: authRoute
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**
            - id: fileRoute
              uri: lb://file-service
              predicates:
                - Path=/api/file/**
            - id: mainRoute
              uri: lb://main-service
              predicates:
                - Path=/api/main/**
          globalcors:
            cors-configurations:
              "[/**]":
                allowed-origin-patterns: "*"
                allowed-headers: "*"
                allowed-methods: "*"
                allow-credentials: true

# 日志级别
logging:
  level:
    root: info
    "[com.alibaba.nacos]": warn
    "[org.springframework.client.config]": warn
